@media (max-width: 768px){
    main{
        flex-direction: column;
    }

    .split-section:hover{
        flex: 1;
    }

    .split-section:hover img{
        transform: scale(1);
    }
}

/* DISPOSITIVOS MÓVEIS */
@media (pointer: coarse) and (hover: none){
    body{
        max-height: 100%;
    }

    .split-section{
        max-height: 82vw;
    }
}