a{
    text-decoration: none;
}

h1{
    font-family: 'Segoe UI Black';
    font-size: 35px;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: 20px;
}

/* BOTÃO - IDIOMA */
#botao-idioma{
    position: absolute;

    height: 40px;
    width: 60px;
    top: 10px;
    right: 8px;

    border: 2px solid hsla(0, 0%, 100%, 0);
    border-radius: 10px;

    background-position: center;

    transition: border-color 0.2s;
    transform: scale(0.7);
}

#botao-idioma:hover{
    border: 2px solid hsl(0, 0%, 100%);
}

.flag-en{
    background-image: url('/assets/img/home/flag_en.png');
}

.flag-pt{
    background-image: url('/assets/img/home/flag_pt.png');
}

/* MENSAGEM DE AVISO */
.aviso{
    display: flex;
    align-items: center;
    position: fixed;
    cursor: pointer;
    overflow: hidden;

    bottom: 50px;
    left: 50px;
    height: 60px;
    width: 60px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.3);
    z-index: 1000;

    border-radius: 15px;

    background-color: hsl(51, 100%, 75%);

    transition: width 0.5s ease;
}

.aviso::before{
    content: '⚠️';

    font-size: 30px;
    text-align: center;
    
    min-width: 60px;
}

.aviso h1{
    flex-shrink: 0;
    white-space: nowrap;

    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 700;
    
    margin: 0;
    padding-right: 20px;
    
    color: hsl(0, 0%, 10%);
    opacity: 0;

    transition: opacity 0.3s ease;
}

.aviso:hover h1{
    opacity: 1;
}

.aviso p{
    display: none;
}

.aviso-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;

    background: hsla(0, 0%, 0%, 0.7);

    backdrop-filter: blur(5px);
}

.aviso-content{
    text-align: center;

    max-width: 500px;
    padding: 40px;
    box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.5);

    border-radius: 20px;

    background: hsl(0, 0%, 100%);
}

.aviso-content p{
    display: block;

    margin: 0;

    color: hsl(0, 0%, 0%);
}

/* MENSAGEM DE MANUTENÇÃO */
.manutencao{
    font-family: monospace;
    font-size: 2em;
    text-align: center;

    margin-top: 50px;
}

/* DISPOSITIVOS MÓVEIS */
@media (pointer: coarse) and (hover: none){
    #botao-idioma:hover{
        border: 2px solid hsla(0, 0%, 100%, 0);
    }

    .aviso{
        width: auto !important;
    }

    .aviso h1{
        opacity: 1;
    }
}