.container-changelog{
    font-family: 'Oswald';

    max-width: 500px;
    width: 75vw;

    margin: 25px auto;
    padding: 20px 50px;

    border-radius: 25px;

    color: hsl(0, 0%, 100%);

    background: linear-gradient(90deg, hsla(244, 92%, 49%, 0.8), hsla(199, 82%, 51%, 0.8));
    
    transition: all 0.3s ease;
}

.changelog-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.changelog-header h1{
    font-family: 'Oswald';
    text-align: left;

    margin: 0;
}

.changelog-conteudo{
    overflow: hidden;
    opacity: 0;

    max-height: 0;
    margin-top: 0;
    padding-top: 0;

    border-top: 1px solid transparent;
    transition: all 0.5s ease;
}

.container-changelog.active .changelog-conteudo{
    max-height: 1000px;
    opacity: 1;

    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px solid hsla(0, 0%, 100%, 0.3);
}

.arrow{
    font-size: 24px;

    color: hsl(0, 0%, 100%);

    transition: transform 0.5s ease;
}

.container-changelog.active .arrow{
    transform: rotate(180deg);
}