body{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
}

main, .split-section{
    display: flex;
    flex: 1;
}

.split-section{
    align-items: center;
    justify-content: center;
    position: relative;
    
    background-size: cover;
    background-position: center;

    transition: flex 0.5s ease;
}

.split-section:hover{
    flex: 1.2;
}

.split-section img{
    object-fit: contain;

    max-width: 80%;
    height: 250px;
    width: 500px;
    
    transition: transform 0.5s ease;
}

.split-section:hover img{
    transform: scale(1.1);
}

#gta6-section{
    background-image: url('/assets/img/projetos/countdown/backgrounds/gta6.png');
}

#re9-section{
    background-image: url('/assets/img/projetos/countdown/backgrounds/re9.png');
}