body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overscroll-behavior: none;

    text-align: center;

    min-height: 100vh;
    margin: 0;
}

/* BOTÃO - TRAILER */
.container-trailer{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.botao-trailer{
    font-family: 'Segoe UI';
    font-size: 12px;

    padding: 10px;

    border: 2px solid hsla(0, 0%, 0%, 0);
    border-radius: 15px;

    color: hsl(0, 0%, 100%);
    
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.botao-trailer:hover{
    border: 2px solid hsl(0, 0%, 100%);
}

/* BOTÃO - LIVE*/
.botao-live{
    font-family: 'Segoe UI Black';
    font-size: 12px;

    padding: 10px;

    border: 2px solid hsl(0, 69%, 50%);
    border-radius: 15px;

    color: hsl(0, 69%, 50%);
    
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
}

.botao-live:hover{
    background-color: hsl(0, 0%, 100%);
}

/* BOTÃO - MUTE */
#botao-mute{
    position: absolute;

    font-size: 12px;

    top: 20px;
    right: 90px;
    padding: 10px;

    border: 2px solid hsla(0, 0%, 0%, 0);
    border-radius: 100px;

    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#botao-mute:hover{
    border: 2px solid hsl(0, 0%, 100%);
}

/* LOGO */
.logo{
    display: block;
    object-fit: contain;

    height: 250px;
    width: 600px;
    
    transition: height 1s;
}

.logo:last-of-type{
    margin-top: 50px;
}

/* TIMER */
.container{
    display: inline-block;

    font-family: monospace;
    font-size: 75px;

    margin-top: 35px;
    padding: 20px 40px;

    border-radius: 20px;
    
    color: hsl(0, 0%, 90%);
    background-color: hsla(0, 0%, 0%, 0.5);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transition: font-size 1s;
}

.container:hover{
    font-size: 80px;

    transition: font-size 1s;
}

.timers-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
    gap: 100px;
}

.timer-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}