body{
    background: url('/assets/img/contato/background/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container-contato{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);

    max-width: 1px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.container-contato a{
    display: block;

    width: 125px;
}

.contato-botao{
    box-sizing: border-box;

    font-family: 'Oswald';
    text-align: center;

    width: 100%;
    padding: 15px;

    border-radius: 10px;

    color: hsl(0, 0%, 100%);

    transition: transform 0.3s ease;
}

.contato-botao:hover{
    transform: scale(1.1);
}

.contato-botao i{
    color: hsl(0, 0%, 100%);
}

#email{
    background-color: hsl(283, 78%, 52%);
}

#github{
    background-color: hsl(210, 12%, 16%);
}

#linkedin{
    background-color: hsl(201, 100%, 35%);
}

#pinterest{
    background-color: hsl(353, 92%, 39%);
}

#reddit{
    background-color: hsl(16, 100%, 50%);
}

#spotify{
    background-color: hsl(141, 76%, 48%);
}

#steam{
    background: linear-gradient(hsl(0, 0%, 0%), hsl(196, 100%, 47%));
}

#twitch{
    background-color: hsl(259, 95%, 66%);
}

#x{
    background-color: hsl(0, 0%, 0%);
}

#youtube{
    background-color: hsl(0, 74%, 46%);
}